* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato",Arial, Helvetica, sans-serif;
}

.headertop {
    width: 100%;
    height: 50px;
    padding-top: 5px;
    padding-left: 5px;
}
.headertop h1{
    color: orangered;
    font-size: 25px;

}

.headertop h1 span {
    color: rgb(92, 91, 91);
    font-size: 20px;
    font-weight: light;
}

.headertop a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    background-color: white;
    height:50px;
}
.navbar ul {
    
    list-style-type: none;
    overflow: hidden;
    float: right;
    margin-right: 20px;

}

.navbar ul li {
    float: left;
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: darkgray;
}
.navbar ul li a:hover {
    color: orangered;
}

.page-container {
    background-image: linear-gradient(rgba(26, 26, 26, 0.774), rgba(26, 26, 26, 0.788)), url("codebackground.jpg");
    filter: blur();
    height: 300px;
    width: 100%;
    position: relative;
}

.page-container .text-container {
    
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
}

.page-container .text-container  h1{
    color: whitesmoke;
    font-weight: bolder;
    
}

.page-content {
    margin: 40px;
}

.homepage-content {
    text-align: center;
    padding-top: 5vw;
}

/*Colored Homepage Links*/

.homepage-links {
    margin-top: 4vw;
    width: 100%;
    height: 15vw;
    display: flex;
    
}

.homepage-links .link1{
    width: 20%;
    background: orangered;
    text-align: center;
    padding-top: 6vw;
    color: white;
    
}

/*Hover Link*/

.homepage-links .link1:hover{
    width: 20%;
    background: whitesmoke;
    text-align: center;
    padding-top: 6vw;
    color: orangered;
}

.homepage-links .link2{
    width: 20%;
    background: orange;
    text-align: center;
    padding-top: 6vw;
    color: white;
    
}

/*Hover Link*/

.homepage-links .link2:hover{
    width: 20%;
    background: whitesmoke;
    text-align: center;
    padding-top: 6vw;
    color: orange;
}

.homepage-links .link3{
    width: 20%;
    background: skyblue;
    text-align: center;
    padding-top: 6vw;
    color: white;
    
}

/*Hover Link*/

.homepage-links .link3:hover{
    width: 20%;
    background: whitesmoke;
    text-align: center;
    padding-top: 6vw;
    color: skyblue;
}

.homepage-links .link4{
    width: 20%;
    background: blue;
    text-align: center;
    padding-top: 6vw;
    color: white;
    
}

/*Hover Link*/

.homepage-links .link4:hover{
    width: 20%;
    background: whitesmoke;
    text-align: center;
    padding-top: 6vw;
    color: blue;
}

.homepage-links .link5{
    width: 20%;
    background: green;
    text-align: center;
    padding-top: 6vw;
    color: white;
    
}

/*Hover Link*/

.homepage-links .link5:hover{
    width: 20%;
    background: whitesmoke;
    text-align: center;
    padding-top: 6vw;
    color: green;
}
